*{
  margin: 0px;  
  box-sizing: border-box;
}

.background {
 background-image: url("../img/background.png");
 width: 1024px;
 height: 600px;
 padding-top: 20px;
 padding-left: 20px;
 /* padding: 20px 0px 0px 20px; 시계방향 */
}

.outerbox {
  background-image: url(../img/outerbox.png);
  width: 808px;
  height: 544px;
}

.wrapper {
  display: flex;
  padding-top: 32px;
  padding-left: 32px;
}

.wrapper__left {
  width: 208px;
  height: 472px;  
  background-color: skyblue;
}

.wrapper__left__header {
 width: 100%;
 height: 30px;
 background-color: rgb(236, 236, 234);  
}

.today {
  font-size: 10px;
  margin-top: 20px;
}

.total {
  font-size: 10px;
  padding-left: 28px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.wrapper__left__body {
 width: 100%;
 height: 442px;
 background-color: white;
 border-radius: 10px;
 border: 1px solid #969090;
}

.image-box {
  width: 145px;
  height: 130px;
  padding-left: 25px;
  padding-top: 20px;
}

.line {
  width: 148px;
  border-bottom: 1px dashed #000000;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}



.fa-user-circle{
 margin-left: 25px;
 font-size: 13px;
}

.fa-phone-alt{
  margin-left: 25px;
  margin-top: 15px; 
  font-size: 13px;
}

.fa-envelope{
  margin-left: 25px;
  margin-top: 15px;
  font-size: 13px; 
}

.fa-star{
  margin-left: 25px;
  margin-top: 15px; 
  font-size: 13px;
}

.name {
  margin-left: 5px;
  font-size: 10px;  
  font-weight: bold;
  color: #999999;
}

.mood {
  margin-left: 25px;
  margin-top: 80px;
  font-size: 13px;
}

.mood_choice {
  margin-left: 25px;
  margin-top: 10px;
}
.wrapper__right {
 width: 524px;
 height: 472px;   
 background-color: tomato;
}

.wrapper__right__header {
  width: 524px;
  height: 30px;
  background-color: aquamarine;   
}

.wrapper__right__body {
    width: 524px;
    height: 440px;
    background-color: coral;    
}

