*{
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 30px 30px 30px;
}

.wrapper__header {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.wrapper__body {
    width: 100%;
    height: 210px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.word__title {
    display: flex;
    align-items: flex-end;
}

.title {
    font-size: 13px;
    font-weight: 700;
    color: #55b2d4;
}

.subtitle {
    font-size: 8px;
	padding-left: 6px;
}

.line {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper_album1 {
    padding: 10px;
}

.img_album1 {
    flex-direction: column;
	justify-content: space-between;
	height: 125px;
    margin-bottom: 6px;
}

.albul1_song {
    font-weight: 700;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albul1_singer {
    font-weight: 500;
    color: gray;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper__under {
    width: 100%;
    height: 25px;
    /* border: 1px solid blue; */
}

.under__title {
    display: flex;
    align-items: flex-end;
}

.list_title {
    color: #55b2d4;
	font-size: 13px;
	font-weight: 700;
}

.list_subtitle {
    font-size: 8px;
	padding-left: 6px;
}

table {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    /* border: 1px solid red; */
    border-collapse: collapse;
}

tr {
    /* border: 1px solid red; */
    padding: 2px 20px 2px 20px;
}

th {
    /* padding: 2px 20px 2px 5px; */
    border-top: 1px solid rgba(128, 128, 128, 0.808);
    border-bottom: 1px solid rgba(128, 128, 128, 0.808);
    background-color: rgba(236, 231, 231, 0.952);
}

th:nth-child(2) {
    text-align: center;
}

th:nth-child(3) {
    text-align: left;
}

th:nth-child(4) {
    text-align: left;
}


td {
    /* padding: 2px 20px 2px 20px; */
    text-align: center;
    border-bottom: 1px dotted gray;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(4){ 
    text-align: left;
} 

.other {
    /* padding: 0px 0px 0px 156px; */
    text-align: left;
}