*{
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    padding: 20px 30px 30px 30px;
}

.wrapper__header {
    width: 100%;
    height: 18px;
    border: 1px solid blue;
}


.wrapper__body {
    width: 100%;
    height: 376px;
    border: 1px solid green;
    display: flex;          
     /*가로정렬  */
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    /* 양끝정렬 */
    padding-top: 20px;
}

.wrapper__word {
    width: 222px;
    height: 168px;
    border: 1px solid grey;
    border-radius: 15px;  
    /* 정렬은 부모인 wrapper__body에 해줘야함 */
}

.wrapper__lotto {
    width: 222px;
    height: 168px;
    border: 1px solid grey;
    border-radius: 15px;    
}