*{
    margin:0px;
    box-sizing: border-box;
}

html,
body {
    width:100%;
    height:100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.wrapper__header {
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.line {
    border-bottom: 1px solid gray;
    margin-top: 5px;
}

.condition {
  color: rgb(0, 183, 255);
  margin-right: 8px;  
  font-weight: bold;
}

.story {
 font-size: 10px ;
}

.feel {
  font-size: 12px;
  color: gray;
  margin-top: 7px;
}
.wrapper__body {
    width: 100%;
    height: 240px;
    background-color: rgb(184, 179, 179);
    padding-top: 10px;
}

.main {
    padding-top: 60px;
} 

.video {
    color: rgb(0, 183, 255);
    margin-right: 8px;  
    font-weight: bold;
}

.intro {
    font-size: 10px;
    color: gray;
}

