* {
	margin: 0px;
	box-sizing: border-box;
}

.background {
	background-image: url('../img/background.png');
	width: 1024px;
	height: 600px;
	padding-top: 20px;
	padding-left: 20px;
}

.outerbox {
	background-image: url('../img/outerbox.png');
	width: 808px;
	height: 544px;
}

.wrapper {
	display: flex;
	padding-top: 32px;
	padding-left: 32px;
}

.wrapper__left {
	width: 208px;
	height: 472px;
}

.wrapper__left__header {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
  /* padding으로 today를 내려줌 */
}

.today {
	font-size: 9px;
}

.zero {
	color: red;
	font-size: 11px;
}

.count {
	font-size: 11px;
}

.wrapper__left__body {
	width: 100%;
	height: 442px;
	display: flex;
	flex-direction: column;
  /* 정렬 . space-between:양끝정렬 */
	justify-content: space-between;
	border: 1px solid gray;
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
  /* 일일이 마진값말고 이걸로 한번에 할 수 있음  */
	padding-right: 30px;
	background-color: white;
}

.left__body__header {
	width: 100%;
	height: 229px;
}

.icon {
  color: red;
  font-size: 30px;
}


.left__body__header__Grey {
	width: 148px;
	height: 133px;
	background-color: #c4c4c4;
}

.line {
	border-top: 1px dotted black;
  /* border 로 하면 사각형. */
	margin-top: 12px;
	margin-bottom: 12px;
}

.wrapper__profle {
	display: flex;
  /* 정렬로 사이에 공간을 만듬 */
	flex-direction: column;
	justify-content: space-between;
	height: 72px;
}

.profile {
	color: #999999;
	font-size: 9px;
}

.footer {
	width: 100%;
	height: 41px;
}

.wrapper__feel {
	width: 141px;
	height: 41px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.feel__text {
	font-size: 11px;
}

.feel__select {
	width: 141px;
}

.wrapper__right {
	width: 524px;
	height: 472px;
}

.wrapper__right__header {
	width: 524px;
	height: 30px;
}

.wrapper__right__body {
	width: 524px;
	height: 440px;
}